.card__like-button {
  background-image: url(../../../images/like-button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
	border: none;
  width: 22px;
  height: 19px;
	margin: 0;
	padding: 0;
}

.card__like-button:hover {
  opacity: .5;
}