.popup__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  min-height: 27px;
  margin: 6px 0 0;
  padding: 0;
  padding-bottom: 9px;
}

.popup__input:first-child {
  margin: 54px 0 0;
}

.popup__input:focus {
  outline-color: rgba(0, 0, 0, .5);
  outline-offset: 3px;
  border-bottom: none;
}


@media screen and (max-width: 767px) {
  .popup__input:first-child {
    margin: 75px 0 0;
  }
}